<table>
  <tr>
    <th><%= Bookmark.human_attribute_name :title %></th>
    <td><%= @bookmark.title %></td>
  </tr>
  <tr>
    <th><%= Bookmark.human_attribute_name :url %></th>
    <td><%= @bookmark.url %></td>
  </tr>
</table>
