*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
/.buildpath
/.bundle
/.byebug_history
/.project
/vendor/bundle
/log/*
/tmp/*
/db/*.sqlite3
/public/assets
/public/system/*
/coverage/
/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html
