<%= form_for @tweet do |f| %>
  <table>
    <tr>
      <th><%= f.label :tweet_id %></th>
      <td><%= f.text_field :tweet_id %></td>
    </tr>
    <tr>
      <td colspan="2"><%= f.submit %></td>
    </tr>
  </table>
<% end %>
