<div class="actions">
  <%= link_to '一覧', tweets_path %>
</div>

<div>
  <pre><%= @tweet.content %></pre>
  <div>
    <span>リツイート数: <%= @tweet.retweet_count %></span>
  </div>
  <ol>
    <% @tweet.retweets.each do |rt| %>
      <li><%= rt.twitter_user_name %></li>
    <% end %>
  </ol>
</div>
