<div id="<%= gadget.gadget_id %>" class="gadget todo">
  <script>
    $(document).ready(function() {
      $('#<%= gadget.gadget_id %>').delegate('li', 'dblclick', function() {
        var that = this;
        $.get($(that).data('url'), {format: 'html'}, function(html) {
          $(that).html(html);
        });
      });
    });
  </script>

  <div>
    <div class="title"><%= gadget.title %></div>
    <ol>
      <% gadget.entries.each do |todo| %>
        <%= render todo %>
      <% end %>
    </ol>
  </div>
</div>
