<div id="<%= gadget.gadget_id %>" class="gadget">
  <div>
    <div class="title"><%= gadget.title %></div>
    <ol>
      <% gadget.entries.each do |e| %>
        <li>
          <div class="header"><%= e.twitter_user_name %></div>
          <div class="body"><%= e.content %></div>
        </li>
      <% end %>
    </ol>
  </div>
</div>
