<script>
  $(document).ready(function() {
    $('.gadgets').sortable({connectWith: ".gadgets"});
    $('.gadgets').disableSelection();
  });
</script>


<% 3.times.each do |i| %>
  <div class="gadgets">
    <% @gadgets[i].each do |g| %>
      <%= render g.class.name.underscore, :gadget => g %>
    <% end %>
  </div>
<% end %>
