<script>
  $(document).ready(function() {
    $('#column_0, #column_1, #column_2').sortable({
      connectWith: ".gadgets"
    }).disableSelection();
  });
</script>


<% 3.times.each do |i| %>
  <div id="column_<%= i %>" class="gadgets">
    <% @gadgets[i].each do |g| %>
      <%= render g.class.name.underscore, :gadget => g %>
    <% end %>
  </div>
<% end %>
