development:
  adapter: mysql2
  encoding: utf8mb4
  charset: utf8mb4
  collation: utf8mb4_general_ci
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>
  host: <%= ENV['MYSQL_HOST'] || '127.0.0.1' %>
  username: <%= ENV['MYSQL_USERNAME'] || 'bookmarks' %>
  password: <%= ENV['MYSQL_PASSWORD'] || 'bookmarks' %>
  database: bookmarks_dev

test:
  adapter: mysql2
  encoding: utf8mb4
  charset: utf8mb4
  collation: utf8mb4_general_ci
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>
  host: <%= ENV['MYSQL_HOST'] || '127.0.0.1' %>
  username: <%= ENV['MYSQL_USERNAME'] || 'bookmarks' %>
  password: <%= ENV['MYSQL_PASSWORD'] || 'bookmarks' %>
  database: bookmarks_test

production:
  adapter: mysql2
  encoding: utf8mb4
  charset: utf8mb4
  collation: utf8mb4_general_ci
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>
  host: <%= ENV['MYSQL_HOST'] || '127.0.0.1' %>
  username: <%= ENV['MYSQL_USERNAME'] || 'bookmarks' %>
  password: <%= ENV['MYSQL_PASSWORD'] || 'bookmarks' %>
  database: bookmarks_pro
