<div class="actions">
  <%= link_to t('actions.edit'), edit_calendar_path(@calendar) %>
  <%= link_to t('actions.delete'), calendar_path(@calendar), method: 'delete', data: {confirm: t('messages.confirm_delete', name: @calendar.title)} %>
</div>

<table>
  <tr>
    <th><%= Calendar.human_attribute_name :title %></th>
    <td><%= @calendar.title %></td>
  </tr>
</table>
