<li class="todo_actions">
  <span style="float: left;"><%= link_to_function '完了', 'todos.delete_todos(this);' %></span>
  <span style="float: right;"><%= link_to_function '新しいタスク', 'todos.new_todo(this);' %></span>
</li>
