<table>
  <tr>
    <th><%= Todo.human_attribute_name :priority %></th>
    <td><%= @todo.priority_name %></td>
  </tr>
  <tr>
    <th><%= Todo.human_attribute_name :title %></th>
    <td><%= @todo.title %></td>
  </tr>
</table>
