table.calendar {
  border-collapse: collapse;
  margin: 1%;
  padding: 0;
  width: 98%;

  tr {
    th {
      color: #888888;
    }
    th.sunday {
      color: #FF0000;
    }
    th.saturday {
      color: #000080;
    }

    td {
      width: 14.28%;
      margin: 0;
      padding: 0;
      
      div.day {
        margin: 0px;
        padding: 2px 4px;
        font-size: 0.8em;
        text-align: right;
        background: #FFFFFF;
      }
      div.day.sunday {
        color: #FF0000;
        background: #FFB6C1;
      }
      div.day.saturday {
        color: #000080;
        background: #87CEFA;
      }
      div.day.holiday {
        color: #FF0000;
        background: #FFB6C1;
      }
      div.day.today {
        color: #008000;
        font-weight: bold;
        background: #98FB98;
      }
      div.content {
        margin: 0;
        padding: 2px;
        font-size: 0.9em;
        height: 4em;
      }
      div.content.holiday {
        color: #FF0000;
      }
    }
    
    td.previous_month, td.next_month {
      div.day {
        opacity: 0.5;
        background: #FFFFFF;
      }
    }
  }
  tr:hover {
    background: none;
  }
}
