html {
  height: 100%;
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  font-size: 12px;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.wrapper {
  padding: 0 50px 50px 50px;
}

@media (max-width: 480px) {
.wrapper {
  padding: 0 10px 10px 10px;
}
}

@media (min-width: 481px) and (max-width: 768px) {
.wrapper {
  padding: 0 20px 20px 20px;
}
}

.head_box {
  background: #AAA;
  height: 80px;
}

ol {
  margin: 0;
  padding: 2px;

  li {
    margin: 5px;
    list-style-type: none;
  }
}

table {
  margin: 20px;
  
  tr {
    th {
      padding: 5px;
    }
    td {
      padding: 5px;
    }
  }
  
  tr:hover {
    background: #EEEEEE;
  }
}

.actions {
  margin: 20px;

  a, a:visited {
    vertical-align: middle;
    border: solid 1px #595757;
    border-radius: 8px;
    padding: 4px 8px;
    text-decoration: none;
    color: #595757;
  }
  
  a:hover {
    color: white;
    background: #A9A9A9;
  }
}

.header {
  margin: 4px 10px 0 10px;
  height: 20px;
  line-height: 20px;
  
  ul.navigation {
    padding: 0;

    li {
      list-style: none;
      display: inline-block;
      margin: 0 10px;
    }

    .email {
      float: right;
    }
  }

  .menu {
    position: absolute;
    border: solid 1px #595757;
    background: #EEEEEE;
    padding: 5px;

    div {
      margin: 5px;
    }
  }
}

.hidden {
  display: none;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}
