#tweet_gadget {
  li {
    div {
      margin: 0;
      box-shadow: none;
      
      &.header {
        font-weight: bold;
      }
      &.body {
        padding: 0.5em;
      }
      &.footer {
        font-weight: bold;
      }
    }
  }
}
