@import "compass/css3/box-shadow";

div.gadgets {
  float: left;
  width: 33.33%;
  padding-bottom: 100px;

  div.gadget {
    div {
      margin: 4px;
      @include box-shadow(rgba(0, 0, 0, .2) 0 0 2px);
      overflow: hidden;

      div.title {
        margin: 0;
        padding: 4px;
        font-weight: bold;
        background: rgba(0, 0, 0, .20);
      }
    }
  }
}

@media (max-width: 480px) {
  div.gadgets {
    width: 100%;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  div.gadgets {
    width: 50%;
  }
}

.todo {
  ol {
    li {
      span {
        display: table-cell;
        padding: 0 4px;
      }
    }
  }

  .priority_1 {
    color: red;
  }
  .priority_2 {
    color: green;
  }
  .priority_3 {
    color: grey;
  }
}