@import "compass/css3/box-shadow";

div.gadgets {
  padding: 0 4px;

  div.gadget {
    width: 33.33%;
    float: left;

    div {
      margin: 4px;
      @include box-shadow(rgba(0, 0, 0, .2) 0 0 2px);

      div.title {
        margin: 0;
        padding: 4px;
        font-weight: bold;
        background: rgba(0, 0, 0, .20);
      }
    }
  }
}

.todo {
  .priority_1 {
    color: red;
  }
  .priority_2 {
    color: green;
  }
  .priority_3 {
    color: grey;
  }
}