div.portal {
  margin-top: 2px;
}

div.gadgets {
  float: left;
  width: 33.33%;
  padding-bottom: 100px;
  
  div.gadget {
    div {
      margin: 4px;
      overflow: hidden;

      div.title {
        margin: 0;
        padding: 4px;
        font-weight: bold;
        background: rgba(0, 0, 0, .20);
      }
      div.title:hover {
        cursor: move;
      }
    }
  }
}

@media (max-width: 480px) {
div.gadgets {
  width: 100%;
  padding-bottom: 0px;
}
}

@media (min-width: 481px) and (max-width: 768px) {
div.gadgets {
  width: 50%;
  padding-bottom: 0px;
}
}

.folder-header {
  cursor: pointer;
  user-select: none;
}

.folder-toggle {
  display: inline-block;
}

.folder-name {
  font-weight: bold;
}

.bookmark-list {
  &.folder-bookmarks {
    margin-left: 16px;
  }
  
  li {
    margin: 0;
    padding: 0;
  }
}
