.simple {
  #header {
    display: none;
  }
}

.simple {
  .wrapper {
    padding: 0 10px 10px 10px;
  }
}
@media (max-width: 480px) {
.wrapper {
  padding: 0 10px 10px 10px;
}
}

@media (min-width: 481px) and (max-width: 768px) {
.wrapper {
  padding: 0 10px 10px 10px;
}
}
